In [2]:
import pandas as pd

In [4]:
car=pd.read_csv(r"C:\Users\abhij\Downloads\file (1).csv")

In [6]:
car.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [8]:
car.shape

(432, 15)

In [10]:
car.duplicated().sum()

3

In [14]:
car = car.drop_duplicates()
car

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

In [16]:
car.isnull().sum()

Make           1
Model          1
Type           1
Origin         1
DriveTrain     1
MSRP           1
Invoice        1
EngineSize     1
Cylinders      3
Horsepower     1
MPG_City       1
MPG_Highway    1
Weight         1
Wheelbase      1
Length         1
dtype: int64

In [22]:
car.dropna(inplace=True)

In [24]:
car.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [40]:
car.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000,426.000000
mean,3.205634,5.807512,215.877934,20.070423,26.854460,3580.474178,108.164319,186.420188
std,1.103520,1.558443,71.991040,5.248616,5.752335,759.870073,8.330030,14.366611
min,1.400000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.400000,4.000000,165.000000,17.000000,24.000000,3111.250000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3476.000000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.750000,29.000000,3979.250000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

In [42]:
# Price distribution
car['MSRP'].describe()

count          426
unique         409
top       $33,995
freq             2
Name: MSRP, dtype: object

In [30]:
car['Origin'].value_counts()
# Count of cars based on their region of origin

Origin
Asia      156
USA       147
Europe    123
Name: count, dtype: int64

In [32]:
# Percentage distribution of cars by region
car['Origin'].value_counts(normalize=True) * 100

Origin
Asia      36.619718
USA       34.507042
Europe    28.873239
Name: proportion, dtype: float64

In [36]:
# Average fuel efficiency by region
car.groupby('Origin')[['MPG_City', 'MPG_Highway']].mean()

         MPG_City  MPG_Highway
Origin
Asia    22.064103    28.314103
Europe  18.731707    26.008130
USA     19.074830    26.013605

In [38]:
# Cars with more than 6 cylinders by region
car[car['Cylinders'] > 6]['Origin'].value_counts()

Origin
USA       43
Europe    37
Asia      12
Name: count, dtype: int64

In [48]:
 # Fuel Efficiency Analysis
car[['MPG_City', 'MPG_Highway']].describe()
car.groupby('Type')[['MPG_City', 'MPG_Highway']].mean()

         MPG_City  MPG_Highway
Type
Hybrid  55.000000    56.000000
SUV     16.100000    20.500000
Sedan   21.083969    28.629771
Sports  18.425532    25.531915
Truck   16.500000    21.000000
Wagon   21.100000    27.900000

In [78]:
#Top Fuel Efficient Cars
car.sort_values('MPG_City', ascending=False).head(10)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,60.0,66.0,1850.0,95.0,155.0
377,Toyota,Prius 4dr (gas/electric),Hybrid,Asia,Front,"$20,510","$18,926",1.5,4.0,110.0,59.0,51.0,2890.0,106.0,175.0
151,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,Front,"$20,140","$18,451",1.4,4.0,93.0,46.0,51.0,2732.0,103.0,175.0
408,Volkswagen,Jetta GLS TDI 4dr,Sedan,Europe,Front,"$21,055","$19,638",1.9,4.0,100.0,38.0,46.0,3003.0,99.0,172.0
157,Honda,Civic HX 2dr,Sedan,Asia,Front,"$14,170","$12,996",1.7,4.0,117.0,36.0,44.0,2500.0,103.0,175.0
388,Toyota,Echo 4dr,Sedan,Asia,Front,"$11,290","$10,642",1.5,4.0,108.0,35.0,43.0,2055.0,93.0,163.0
386,Toyota,Echo 2dr manual,Sedan,Asia,Front,"$10,760","$10,144",1.5,4.0,108.0,35.0,43.0,2035.0,93.0,163.0
387,Toyota,Echo 2dr auto,Sedan,Asia,Front,"$11,560","$10,896",1.5,4.0,108.0,33.0,39.0,2085.0,93.0,163.0
156,Honda,Civic DX 2dr,Sedan,Asia,Front,"$13,270","$12,175",1.7,4.0,115.0,32.0,38.0,2432.0,103.0,175.0
385,Toyota,Corolla LE 4dr,Sedan,Asia,Front,"$15,295","$13,889",1.8,4.0,130.0,32.0,40.0,2524.0,102.0,178.0

In [52]:
#Engine Performance Analysis

car.groupby('Cylinders')[['EngineSize', 'Horsepower']].mean()

           EngineSize  Horsepower
Cylinders
3.0          2.000000   73.000000
4.0          2.058824  150.514706
5.0          2.428571  228.000000
6.0          3.283158  218.952632
8.0          4.720690  298.942529
10.0         7.550000  405.000000
12.0         5.666667  468.666667

In [54]:
#Size & Weight Impact
car[['Weight', 'MPG_City']].corr()

            Weight  MPG_City
Weight    1.000000 -0.740418
MPG_City -0.740418  1.000000

In [58]:
#Type-wise Analysis
car['Type'].value_counts()

Type
Sedan     262
SUV        60
Sports     47
Wagon      30
Truck      24
Hybrid      3
Name: count, dtype: int64

In [62]:
#Brand (Make) Analysis
car['Make'].value_counts().head(10)

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Name: count, dtype: int64

In [94]:
#Car Type Analysis
car['Type'].value_counts()
pd.crosstab(car['Type'], car['Origin'])

Origin  Asia  Europe  USA
Type
Hybrid     3       0    0
SUV       25      10   25
Sedan     94      78   90
Sports    15      23    9
Truck      8       0   16
Wagon     11      12    7

In [96]:
#Luxury Car Analaysis
car[car['MSRP'] > 50000]['Origin'].value_counts()

Origin
Europe    38
USA        8
Asia       6
Name: count, dtype: int64